#duazikr {
    background-color: teal;
    color: #fff;
  
  }

   #duazikrcontent {
     padding:10px 40px;
  }

  #duazikr a{
      color:#fff;
  }

  #duazikrnavbar {
      height: 100px;
      background-color: #20b2aa;
  }

  #tagbox {
      margin: 16px 0px;
      background-color: #20b2aa;
      padding: 10px 20px;
      border-radius: 10px;
  }

  #duatagbox {
      height: 250px;
      width: 200px;
      background-color: #20b2aa;
      padding: 20px;
      margin: 20px;
      text-align: center;
      border-radius: 10px;
  }

  #duatagbox p{
      font-size: 30px;
      margin-top: 30px;
  }

  input[type=text] {
    background-color: white; 
    background-position: 10px 10px;
    padding-left: 40px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
  }