body{
  overflow-x: hidden;
  font-family: 'Alata', sans-serif;
}
#duazikr {
    background: #269180;
    color: #fff;
  }


   #duazikrcontent {
     padding:10px 40px;
  }

  #duazikr a{
      color:#fff;
      text-decoration: none;
  }



  #duazikrnavbar {
      height: 120px;
      background-color: #2EAA92;
      
  }




  .fa-search {
    top: 50px;
    left: 847px;
    width: 36px;
    height: 36px;
    border: 3px solid #7DD9B1;
    opacity: 1;
  }

  .duatitle {
    margin: 16px 0px;
    background-color: #55D4B2;
    padding: 10px 20px;
    border-radius: 10px;
    font-size:22px;
}


  .tagbox {
      margin: 16px 0px;
      background-color: #55D4B2;
      padding: 16px 20px;
      border-radius: 10px;
     
  }
 
  .clickedtagbox {
    color:orange;
  }

 .dua_title , .duaarabic ,.duatranslation , .duatranslitaration , .duareference {
   margin:5px 30px;
 }

  @media only screen and (min-width: 991px) {

  

   .tagbox p {
     font-size: 28px;
     float: right;
     margin-top:20px;
     margin-right: 20px;
   }

   #searchboxsmall {
    display:none;
  }
  
  #duazikrnavbar {
    height: 120px;
    background-color: #2EAA92;
    
}


  #tagsidebar {
    background-color: #2faf9a;
    padding:10px;
    float: left;
    width:33%;
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    top: 120px;
   
  }

  .duacontentbody {
    width: 67%;
    float: right;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    right: 0;
    top:120px;
   
  
  }
  }


  
  .dua_title{
    font: Normal 50px/66px SolaimanLipi;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    padding:20px 4px 60px 4px;
  }

  .duaarabic {
    font-family:adobe arabic;
    font-size:30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding:20px 4px;

  }

  .duatranslation {
    font: Normal 30px/41px SolaimanLipi;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding:10px 4px;
  }

  .duatranslitaration {
    text-align: center;
    font: Normal 20px/27px SolaimanLipi;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    padding:10px 4px;
  }

  .duareference {

    text-align: center;
    font: Normal 16px SolaimanLipi;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    padding:10px 4px;
  }

  #duatagbox {
      height: 200px;
      width: 180px;
      padding: 20px;
      margin: 20px;
      text-align: center;
      background: #55D4B2 0% 0% no-repeat padding-box;
      box-shadow: 0px 6px 6px #00000029;
      border-radius: 20px;
      opacity: 1;
  }

  #duatagbox img {
    margin-top: 10px;
  }

  #duatagbox p{
      font-size: 30px;
      text-align: center;
      margin-top: 10px;
  }

  .fa-home {
    top: 53px;
    left: 350px;
    width: 48px;
    height: 40px;
    opacity: 1;
    
  }
  .fa-chevron-left , .fa-chevron-right  {
    color: #026e5c;
    position: fixed;
    top:5%;
    margin: 0;
    overflow: hidden;
 }

 .fa-chevron-left {
   left:10px;
 }

 .fa-chevron-right{
   right:10px;
 }

 .fa-play-circle{
   position: fixed;
   right:10px;
   bottom: 0;
 }
  .fa-chevron-left:hover , .fa-chevron-right:hover {
     color: #fff;
  }

  /* .previousdua {
      position: fixed;
      top: 180px;
      right: 60px;
  }

  .nextdua {
    position: fixed;
    top: 180px;
    right: 20px;
} */

  /* #fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px; 
} */

 

 #searchbox input[type=text] {
    top: 37px;
    width: 350px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-size: 22px;
    border-radius: 35px;
    opacity: 1;
  }

  #searchbox ::placeholder{

      letter-spacing: 0px;
      color: #7DD9B0;
      padding-left: 30px;
      opacity: 1;
  }


  .navtext {

    font-size: 30px;
  }


  @media only screen and (max-width: 992px) {
    #duazikrnavbar {
      height:100px;
      background-color: #2EAA92;  
      
      }
  
    .navtext {

    font-size: 20px;
    }

    .duatitle {
      margin: 8px 0px;
      background-color: #55D4B2;
      padding: 6px 8px;
      border-radius: 10px;
      font-size:15px;
    }

  

    #tagsidebar {
      background-color: #2faf9a;
      padding:10px;
      float: left;
      width:33%;
      position: fixed;
      overflow-y: scroll;
      bottom: 0;
      left: 0;
      top:100px;
     
    }
  
    .duacontentbody {
      width: 67%;
      float: right;
      text-align: center;
      padding: 10px 0px;
      position: fixed;
      overflow-y: scroll;
      bottom: 0;
      right: 0;
      top:100px;
     
    
    }
    
    .tagbox {
      height:70px;
      text-align: center;
    }

    #tagboxsvg {
      display: none;
    }
    .tagbox p {
       align-self:center;
    }

    #duatagbox {
      height: 170px;
      width: 150px;
      padding: 10px;
      margin: 10px;
      text-align: center;
      background: #55D4B2 0% 0% no-repeat padding-box;
      box-shadow: 0px 6px 6px #00000029;
      border-radius: 20px;
      opacity: 1;
  }

  #duatagbox img {
    margin-top: 20px;
    height: 70px;
    width: 70px;
  }

  #duatagbox p{
      font-size: 20px;
      text-align: center;
      margin-top: 30px;
  }

    .dua_title{
      font: Normal SolaimanLipi;
      font-size: 24px;
      letter-spacing: 0px;
      color: #fff;
      opacity: 1;
    }
  
    .duaarabic {
      font-family:adobe arabic;
      font-size: 20px;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
    }
  
    .duatranslation {
      font: Normal SolaimanLipi;
      font-size: 18px;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
    }
  
    .duatransliteration {
     
      font-size: 17px;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 0.8;
    }
  
    .duareference {
  
      text-align: center;
      font: Normal SolaimanLipi;
      font-size: 16px;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 0.8;
    }

    #searchbox {
      display:none;
    }

    #searchboxsmall input[type=text] {
    
      margin-top:10px;
      margin-left: 20px;
      width: 80%;
      height: 30px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font-size: 14px;
      border-radius: 0px;
      opacity: 1;
      
    }
  
    #searchboxsmall ::placeholder{
  
        letter-spacing: 0px;
        color: #7DD9B0;
        padding-left: 30px;
        opacity: 1;
    }

    .nextdua {
      position: fixed;
      top: 100px;
      right: 20px;
  }
  .previousdua {
    position: fixed;
    top: 100px;
    right: 60px;
}

}


@media only screen and (max-width: 568px) {

#duazikrnavbar {
  height: auto;
}

#tagsidebar {
  display: none;
      
  }

  .duacontentbody {
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    position: relative;
    top:auto;
  
  }

  #singletagsvg {
    display: none;
  }
  #searchboxsmall input[type=text] {
    
    margin-left: 0px;
    
  }
 

}


li.select2-results__option {
  color: black;
}

li.select2-selection__choice{
  color: #000;
}


.active {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #000;
}


div#duatagbox:hover, div.duatitle:hover , div.tagbox:hover{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color:#000;
}

#duazikr a:hover{
   color: #000;
}